<link rel="stylesheet" href="/css/adminDashboard.css"><!-- not use ./ otherwise current url aage appent this url not as MW provide , internally template engine do req for css file and static MW get called () , TE execute/compile ejs-->

<main>

    <section id="employee">
        <%if(locals.users.length === 0 ||locals.users.length === 1 
        && users[0].id === locals.currentSessionUser.id ){%>
           <div id="no-data-container">
            <img style="height: fit-content;" src="https://cdn-icons-png.flaticon.com/128/7486/7486754.png" alt="no data picture" title="no employee is present in db, add to display employee data at here">
            <h4>no employee is present in db, add to display employee data at here</h4>
           </div>
          <%}else{%>
            <div id="list-of-employees-container">
                <% for(let i=0;i<locals.users.length;i++){ %>
                    <% if(users[i].id === locals.currentSessionUser.id){ continue;} %>
                    <div class="card">
                    <h5 class="card-header">Employee No. <%= i %></h5>
                    <div class="card-body">
                        <img src="https://cdn-icons-png.flaticon.com/128/10809/10809442.png" alt="employee photo">
                        <h5 class="card-title">Name: <%= users[i].name %> </h5>
                        <p class="card-text">Email: <%= users[i].email %> , Password: <%= users[i].password %></p>
                        <p class="" >Role: <medium style="color:green; text-shadow: 0 0 .3px black;"><%= users[i].role %></medium></p>
                        <a href="/admin/delete-employee/<%= users[i].id%>" class="btn btn-danger">Delete</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal-<%= users[i].id%>">
                        Update 
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#assignReviewModal-<%= users[i].id%>">
                        Assign Review 
                        </button>
                        <a href="/admin/make-admin/<%= users[i].id%>" class="btn btn-success">
                           <% if(users[i].role === "employee"){ %>
                            Make Admin
                          <%}else{%>
                            UnAdmin
                          <%}%> 
                        </a>
                    </div>
                    </div>
                     <!-- Update Modal -->
                    <form action="/admin/update-employee/<%= users[i].id%>" method="post" class="modal fade" id="updateModal-<%= users[i].id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Update Employee Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                      <label for="employeeName" class="form-label">Employee Name</label>
                                      <input placeholder="@employee name" type="text" class="form-control" id="employeeName" name="name" value="<%= users[i].name%>">
                                    </div>
                                    <div class="col-md-12">
                                      <label for="employeeEmail" class="form-label">Email</label>
                                      <input placeholder="email" type="email" class="form-control" id="employeeEmail" name="email"  value="<%= users[i].email%>">
                                      <div class="form-text">We'll never share your email with anyone else.</div>
                                    </div>
                                    <div class="col-md-6">
                                      <label for="employeePassword-update" class="form-label">Password</label>
                                      <input placeholder="password" type="password" class="form-control" id="employeePassword-update" name="password"  value="<%= users[i].password%>">
                                    </div>
                                    <div class="mb-3 form-check" style="margin-left: 20px;">
                                      <input type="checkbox" class="form-check-input" id="showPassword-update" onclick="visiblePass('update')">
                                      <label class="form-check-label" for="showPassword-update"><small style="color: gray;">Show Password</small></label>
                                    </div>
                                    <div class="col-sm-12">
                                      <label for="select" class="form-label">Select Your Role:</label>
                                      <select name="role" id="select" class="form-select" aria-label="Default select example">
                                          <option <% if(users[i].role === "employee"){ %>selected<%}%> value="employee">Employee</option>
                                          <option <% if(users[i].role === "admin"){ %>selected<%}%> value="admin">Admin</option>
                                        </select>
                                    </div>
                                  </div>
                            
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update Employee</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                      </div>
                    </form>

                      <!-- assign review Modal -->
                    <form action="/admin/assign-review" method="post" class="modal fade" id="assignReviewModal-<%= users[i].id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog ">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Review Form</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <div class="mb-3">
                                  <label for="assignReviewInput" class="form-label" title="employee which have give feedback to below recipient">Reviewer:<small style="color: gray;">( that do review. )</small></label>
                                  <input title="employee which have give feedback to below recipient" type="text" class="form-control" id="assignReviewInput" disabled 
                                  name="from"
                                  value="<%= users[i].name%>">
                                  <input 
                                  hidden
                                  name="from"
                                  value="<%= users[i].id%>">
                              </div>
                              
                              <div class="mb-3">
                                  <label title="recipient = whom reviewer have to do review" for="assignReviewInputSelect" class="form-label">Recipient: <small style="color: gray;">( that employee/user that i(admin) want Reviewer to review his/her performance. ) </small></label>
                                  <select   name="to" id="assignReviewInputSelect" class="form-select" aria-label="Default select example">
                                      <!-- <option  disabled>Open this select menu</option> -->
                                     <% for(let user of users){ 
                                      if(user.id === currentSessionUser.id || user.id === users[i].id){  <!-- admin or current reviewer-->
                                        continue;
                                      }
                                      %>
                                      
                                       <option value=<%= user.id %>><%= user.name %></option>
                                     <%}%>
                                    </select>
                              </div>
                          </div>
                          <div class="modal-footer">
                          <button type="submit" class="btn btn-warning">Assign Task</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                      </div>
                      </div>
                    </form>
                <% } %>
            </div>
        <% } %>

        <div id="add-employee-btn-container">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewEmployeeModal"
            >
                <img src="https://cdn-icons-png.flaticon.com/128/7854/7854531.png" alt="add pic"> 
                Add Employee
            </button>
        </div>
    </section>

      
    

    
  
  
  <!-- add employee Modal -->
  <form action="/admin/add-employee" method="post" class="modal fade" id="addNewEmployeeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Employee Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-12">
              <label for="employeeName" class="form-label">Employee Name</label>
              <input placeholder="@employee name" type="text" class="form-control" id="employeeName" name="name">
            </div>
            <div class="col-md-12">
              <label for="employeeEmail" class="form-label">Email</label>
              <input placeholder="email" type="email" class="form-control" id="employeeEmail" name="email">
              <div class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="col-md-6">
              <label for="employeePassword-add" class="form-label">Password</label>
              <input placeholder="password" type="password" class="form-control" id="employeePassword-add" name="password">
            </div>
            <div class="col-md-6">
              <label for="employeeConfirmPassword-add" class="form-label">Confirm Password</label>
              <input placeholder="confirm password" type="password" class="form-control" id="employeeConfirmPassword-add"
                name="confirmPassword">
            </div>
            <div class="mb-3 form-check" style="margin-left: 20px;">
              <input type="checkbox" class="form-check-input" id="showPassword-add" onclick="visiblePass()">
              <label class="form-check-label" for="showPassword-add"><small style="color: gray;">Show Password</small></label>
            </div>
            <div class="col-sm-12">
              <label for="select" class="form-label">Select Your Role:</label>
              <select name="role" id="select" class="form-select" aria-label="Default select example">
                  <option selected value="employee">Employee</option>
                  <option value="admin">Admin</option>
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Add Employee</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
  </form>
  
</main>


 <script>
        function visiblePass(input) {
         switch (input) {
          case 'add':
            var password = document.getElementById("employeePassword-add");
            var confirm_password = document.getElementById("employeeConfirmPassword-add");
            if (password.type === "password") {
              password.type = "text";
              confirm_password.type = "text";
            } else {
              password.type = "password";
              confirm_password.type = "password";
            }
          break;
          case 'update':
            var password = document.getElementById("employeePassword-update");
            if (password.type === "password") {
              password.type = "text";
            } else {
              password.type = "password";
            }
          break;
          case 'add':
            var password = document.getElementById("employeePassword-add");
            var confirm_password = document.getElementById("employeeConfirmPassword-add");
            if (password.type === "password") {
              password.type = "text";
              confirm_password.type = "text";
            } else {
              password.type = "password";
              confirm_password.type = "password";
            }
          break;
          
         
          default:
            break;
         }
        }
    </script>

    
    
